# Visual Studio temporary files and options
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bin/
obj/
legacyproj/
*.user
*.suo

# Media files & static assets
*.mp4
*.mkv
*.avi
*.mov
*.webm
*.webp
VideoHostingServer/VideoHostingServer/videos/
VideoHostingServer/VideoHostingServer/images/

# Executables & large binaries
*.exe
FFmpeg/